# This file contains the basic instruction set of the 8080 microprocessor
# to use in sub-syntaxes, e.g. for adding assembler support

scopeName: 'source.8080-assembly'
name: '8080 Assembly'
fileTypes: [
  'asm'
]
patterns: [
  # The basic 8080 instruction set
  { include: '#mnemonics-m8080' }
]

# start of repository ----------------------------------------------------------
repository:

  # Intel 8080 Basic Instruction Set
  'mnemonics-m8080':
    patterns: [
      # ADC, ADD, AND
      {
        match: '\\b(?i)(a[dn][cd][abd])\\b'
        name: 'keyword.mnemonic.8080-assembly'
      }
      # arithmetic and logical shift
      {
        match: '\\b(?i)([al]s[lr]([ab])?)\\b'
        name: 'keyword.mnemonic.8080-assembly'
      }
      # A and B
      {
        match: '\\b(?i)((bit|eor|or|sbc)[ab])\\b'
        name: 'keyword.mnemonic.8080-assembly'
      }
      # A, B and D
      {
        match: '\\b(?i)((sub)[abd])\\b'
        name: 'keyword.mnemonic.8080-assembly'
      }
      # A, B, D, S, U, X and Y
      {
        match: '\\b(?i)((cmp|ld|st)[abdsuxy])\\b'
        name: 'keyword.mnemonic.8080-assembly'
      }
      # S, U, X and Y
      {
        match: '\\b(?i)((lea)[suxy])\\b'
        name: 'keyword.mnemonic.8080-assembly'
      }
      # S and U
      {
        match: '\\b(?i)((psh|pul)[su])\\b'
        name: 'keyword.mnemonic.8080-assembly'
      }
      # A, B, and register
      {
        match: '\\b(?i)((clr|com|dec|inc|neg|tst)([ab])?)\\b'
        name: 'keyword.mnemonic.8080-assembly'
      }
      # rotate
      {
        match: '\\b(?i)(ro[lr]([ab])?)\\b'
        name: 'keyword.mnemonic.8080-assembly'
      }
      # branch
      {
        match: '\\b(?i)((l)?b[ceghlmnprsv][aceilnoqrst])'
        name: 'keyword.mnemonic.8080-assembly'
      }
      # special/misc
      {
        match: '\\b(?i)(abx|daa|exg|mul|sex|tfr|cwai|andcc|nop|orcc|jmp|jsr|rti|rts|(swi([23])?)|sync)\\b'
        name: 'keyword.mnemonic.8080-assembly'
      }
    ]
