# This file contains the basic instruction set of the 8080 microprocessor
# to use in sub-syntaxes, e.g. for adding assembler support

scopeName: 'source.8080-assembly'
name: '8080 Assembly'
fileTypes: [
  'asm'
]
patterns: [
  # The basic 8080 instruction set
  { include: '#mnemonics-i8080' }
]

# start of repository ----------------------------------------------------------
repository:
  # Intel 8080 Basic Instruction Set
  'mnemonics-i8080':
    patterns: [
      {
        match: '\\b(?i)([cjr]n?[cz]|[cr]p[eio]?|cm[acp]?|call|jmp|j[mp]|jp[eo])\\b'
        name: 'keyword.mnemonic.8080-assembly'
      }
      {
        match: '\\b(?i)(stc|stax?|ldax?|xchg|xthl|sphl|pchl|da[ad]|dc[rx]|aci|ad[cdi]|an[ai]|s[bu][bi]|[ox]r[ai])\\b'
        name: 'keyword.mnemonic.8080-assembly'
      }
      {
        match: '\\b(?i)(ret|rst|in[rx]?|out|lxi|push|pop|mov|hlt|mov|mvi|r[lr]c|ra[lr]|shld|lhld|[de]i|nop)\\b'
        name: 'keyword.mnemonic.8080-assembly'
      }
    ]
